<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand">
        <i class="fa fa-list-alt"></i>
        Звіти
      </a>
      
      <ul class="nav">
        <li>
          <a href="" ng-click="goBack()">
            <i class="fa fa-chevron-left"></i>
            Назад
          </a>
        </li>
      </ul>
      
      <button class="btn btn-danger pull-right" ng-click="logout()">
        <span class="fa fa-sign-out"></span>
        Вийти
      </button>
    </div>
  </div>
</nav>

<ul class="nav nav-stacked nav-pills">

  <li>
    <a class="list-item" href="#/report/touristsGeneral">
      <i class="fa fa-lg fa-list"></i>
      Список туристів в цілому
    </a>
  </li>

  <li>
    <a class="list-item" href="#/report/touristsByCategory">
      <i class="fa fa-lg fa-list"></i>
      Список туристів по категорії
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/hotelResidence">
      <i class="fa fa-lg fa-list"></i>
      Список для розселення в цілому
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/hotelResidenceByCategory">
      <i class="fa fa-lg fa-list"></i>
      Список для розселення по категорії
    </a>
  </li>

  <li>
    <a class="list-item" href="#/report/bestExcursions">
      <i class="fa fa-lg fa-list"></i>
      Найкращі екскурсії
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/factor">
      <i class="fa fa-lg fa-list"></i>
      Співвідношення туристів
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/moneyByGroupAndCategory">
      <i class="fa fa-lg fa-list"></i>
      Повний фінансовий звіт для групи і категорії
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/moneyByGroup">
      <i class="fa fa-lg fa-list"></i>
      Повний фінансовий звіт для групи
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/totalByPeriod">
      <i class="fa fa-lg fa-list"></i>
      Загальний звіт за період
    </a>
  </li>
  
  <li>
    <a class="list-item" href="#/report/amountByPeriodAndGroup">
      <i class="fa fa-lg fa-list"></i>
      Кількість туристів за період по категорії
    </a>
  </li>
 
</ul>